langgraph>=0.2.0
langchain>=0.2.0
langchain-groq>=0.1.0
langchain-google-genai>=1.0.0
python-dotenv>=1.0.0

yfinance>=0.2.40
finnhub-python>=2.4.20
pandas>=2.0.0
pandas-ta>=0.3.14b0

transformers>=4.41.0
torch>=2.2.0

chromadb>=0.5.0
langchain-community>=0.2.0

fastapi>=0.110.0
uvicorn>=0.27.0
pydantic>=2.6.0
sentence-transformers>=2.6.0
llama-cpp-python>=0.2.80
pymupdf>=1.24.0